/* Estilos para tabletas */
@media screen and (max-width: 820px) {
    html{
        background-image: linear-gradient(to bottom, #ff7e5f 5%, #ff7f5f 14%, #31405fe7 22%, #31405f 87%, #000000 91%);
        overflow-y: auto
    }
    .main{
        overflow-y: auto
    }
    .personaldata{
        height: 85vh;
        margin: auto;
        width: 100%;
        flex-wrap: wrap;
    }
    .datos{
        margin: auto;
        text-align: center;
    }
    .datos1{
        margin: auto;
        margin-top: 25%;
        align-items: center;
        text-align: center;
        width: 90%;
        font-size: 70%;
    }
    .nombre{
        text-align: center;
    }
    .datos1 img{
        margin: auto;
    }
    .datos2{
        text-align: left;
        margin: auto;
        margin-top: 10%;
        width: 90%;
        font-size: 65%;
    }
    .lenguajes{
        margin-top: 15vh;
        padding-top: 0;
        margin-left: 0%;
    }
    .lenguajes h2{
        margin-bottom: -5%;
        margin-top: 0%;
        font-size: 240%;
        height: 100px;
    }
    .projects{
        margin: auto;
        margin-top: 10%;
        font-size: 200%;
    }
    .projects h2{
        margin: auto;
        height: 5%;
        font-size: 150%;
        margin-bottom: 4%;
    }
    .grid-containertec {
        margin: auto;
        grid-template-columns: repeat(auto-fill, minmax(310px, 0fr));
    }
      .grid-itemtec {
        margin-top: 0%;
        margin: auto;
        border-radius: 30px;
        border: 1px solid rgba(255, 255, 255, 0.343);
        background-color: rgba(55, 55, 55, 0.243);
        padding: 15px;
        width: 90%;
        height: 270px;
        font-size: 65%;
      }.grid-itemtec h2{
        height: 25%;
        margin-bottom: 5%;
      }
      .grid-itemtec .tecnologias{
        font-size: 150%;
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* 3 columnas con igual ancho */
        gap: 10px; /* Espacio entre los elementos */
      }
      .image-with-text {
        margin: auto;
        font-size: 50%;
      }
      
      .image-with-text img {
        width: 50px; /* Ajusta el ancho según sea necesario */
        height: 50px; /* Esto permite que la imagen se ajuste proporcionalmente */
      }
      
      .image-with-text p {
        font-size: 220%;
        color: rgba(255, 255, 255, 0.349);
        margin-top: 5px; /* Espacio entre la imagen y el texto */
      }

    .grid-containerprj{
        grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
    }
    .container-project{
        width:100%;
        font-size: 55%;
    }
    .container-project .nameprj{
        font-size: 200%;
    }
    .contactme{
        margin-top: 20%;
        font-size: 55%;
        margin-bottom: 5%;
    }
    .contactme .correotxt{
        font-size: 170%;
    }



    .modalprj1 {
        top: -200%;
    }
    .modalcontent1 {
        font-size: 40%;
    }
    .modalprj1 .photoprj1 img{
        border-radius: 7px;
    }
    .modalprj1 .lenguajesprj1 img{
        width: 15%;
    }
    .modalprj1 .lenguajesprj1{
        margin-bottom: 5%;
    }
}

@media screen and (max-width: 540px) {
    .datos2{
        font-size: 70%;
    }
}

/* iPmini */
@media screen and (max-width: 768px) {
    .datos1{
        margin-top: 10vh;
    }
    .personaldata{
        font-size: 80%;
    }
}


  /* R6Pro */
  @media screen and (max-width: 431px) {
    html{
        background-image: linear-gradient(to bottom, #ff7e5f 15%, #ff7f5f 14%, #31405f 28%, #31405f 84%, #000000 95%,  #000000 100%);
        overflow-x: hidden;
        font-size: 80%;
    }
    body{
        width: 100%;
    }
    .main{
        width: 90%;
    }.personaldata{
        width: 90%;
        height: 80vh;
        font-size: 90%;
        margin-top: 15%;
        flex-wrap: wrap;
        text-align: center;
        margin: auto;
    }
    .datos1{
        text-align: center;
        padding-top: 10%;
        margin: auto;
        width: 100%;
    }
    .datos1 img{
        margin: auto;
    }
    .datos2{
        font-size: 1.1vh;
        margin-top: 5%;
        margin-left: 2%;
        width: 90%;
        height: auto;
    }.descriptionme{
        height: 40%;
    }
    .btnlinks i{
        font-size: 250%;
    }

    .lenguajes h2{
        margin-bottom: -15%;
    }
    .grid-containertec{
        grid-template-columns: repeat(auto-fill, minmax(250px, 0fr));
        margin: auto;
    }
    .grid-itemtec {
        margin: auto;
        width: 90%;
        height: 200px;
    }
    .grid-itemtec h2{
        margin-bottom: 0%;
    }
    .image-with-text img {
        width: 40px; /* Ajusta el ancho según sea necesario */
        height: 40px; /* Esto permite que la imagen se ajuste proporcionalmente */
    }
    .projects{
        width: 100%;
    }
    .grid-containerprj{
        grid-template-columns: repeat(auto-fill, minmax(290px, 1fr)); /* Establece columnas con un mínimo de 200px y se ajustan automáticamente */
        gap: 3% 0%; /* Espacio entre los elementos */
        padding: 0%;
    }
    .container-project{
        margin: auto;
        margin-left: 2%;
        width: 90%;
    }
    .modalprj1 {
        top: 0%;
        margin-bottom: -100%;
    }
    .modalcontent1 {
        margin-top: 100%;
        height: 200%;
    }
    .photoprj1 img{
        width: 70%;
        height: 1%;
        margin: auto;
        margin-top: 1%;
        border-radius: 0px;
        box-shadow: 1px 15px 30px rgba(0, 0, 0, 0.533);
    }

    .contactme{
        font-size: 90%;
        margin-top: 50%;
        margin-bottom: 5%;
    }
  }