/* Estilos para tabletas */
@media screen and (max-width: 820px) {
    .main{
        padding: 0;
        margin: auto;
        width: 90%;
    }
    html{
        background-color: white;
        background-image: linear-gradient(to bottom, #ffffff 0vh, #ffffff 80vh, #fff4db 110vh, #fff4db 200vh, #fff4db 230vh, #ffdcb8 34%, #ffdcb8 93%, #67d4ff50 96%, #67d4ff50 100%);
        font-family: 'Roboto', sans-serif;

    }
    body{
        margin-left: 0;
        width: 100%;
    }
    .personaldata{
        height: 85vh;
        margin: auto;
        width: 100%;
        flex-wrap: wrap;
    }
    .datos{
        margin: auto;
        text-align: center;
        margin-top: 4vh;
    }
    .datos1{
        margin: auto;
        margin-top: 15%;
        align-items: center;
        text-align: center;
        width: 90%;
        font-size: 70%;
    }
    .nombre{
        font-size: 6vh;
        text-align: center;
    }
    .datos1 img{
        margin: auto;
    }
    .datos2{
        text-align: left;
        margin: auto;
        margin-top: 10%;
        width: 90%;
        font-size: 65%;
    }
    .lenguajes{
        margin: auto;
        padding-top: 10vh;
    }
    .lenguajes h2{
        margin-bottom: 15%;
        margin-top: 0%;
        font-size: 240%;
        height: 100px;
    }
    .projects{
        margin: auto;
        margin-top: 10%;
        font-size: 200%;
        overflow: visible;
    }
    .projects h2{
        margin: auto;
        height: 5%;
        font-size: 150%;
        margin-bottom: 4%;
    }
    .grid-containertec {
        grid-template-columns: repeat(auto-fill, minmax(510px, 0fr));
    }
      .grid-itemtec {
        margin-top: 0%;
        margin: auto;
        padding: 15px;
        width: 80%;
        height: auto;
        font-size: 65%;
      }.grid-itemtec h2{
        height: 25%;
      }
      .grid-itemtec .tecnologias{
        font-size: 150%;
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* 3 columnas con igual ancho */
        gap: 10px; /* Espacio entre los elementos */
      }
      .image-with-text {
        margin: auto;
        font-size: 50%;
      }
      
      .image-with-text img {
        width: 50px; /* Ajusta el ancho según sea necesario */
        height: 50px; /* Esto permite que la imagen se ajuste proporcionalmente */
      }
      
      .image-with-text p {
        font-size: 220%;
        margin-top: 5px; /* Espacio entre la imagen y el texto */
      }

    .grid-containerprj{
        grid-template-columns: 1fr;
        gap: 5vh 0%;
        width: 100%;
    }
    .container-project{
        width: 90%;
        margin: 0 auto;
        font-size: 2.5vh;
        box-sizing: border-box;
    }
    .contactme{
        margin-top: 10%;
        font-size: 55%;
        margin-bottom: 5%;
    }
    .contactme .correotxt{
        font-size: 3vh;
    }
    .modalprj1{
        height: 50%;
        font-size: 45%;
    }
    .modalcontent{
        font-size: 40%;
    }
    .btnlinks{
        margin-top: 13vh;
    }
}

@media screen and (max-width: 540px) {
    .datos2{
        font-size: 70%;
    }
    .modalprj1{
        height: 50%;
    }
}

/* iPmini */
@media screen and (max-width: 768px) {
    body{
        margin-left: 0 !important;
    }
    .datos1{
        margin-top: 5vh;
    }
    .datos2{
        margin-top: -4%;
    }
    .personaldata{
        font-size: 80%;
    }
    .modalprj1{
        height: 50%;
    }
    .grid-containertec{
        grid-template-columns: repeat(auto-fill, minmax(410px, 0fr));
    }
    .grid-itemtec {
        margin-top: 2vh;
        height: auto;
    }
    .image-with-text img {
        width: 5vh;
        height: 5vh;
    }
    .grid-itemtec h2{
        margin-bottom: 7%;
    }
    .btnlinks1{
        margin-top: 2vh;
    }
    .btnlinks i{
        font-size: 4vh;
    }
    .btnlinks1 button{
        font-size: .9rem;
    }
    .grid-containerprj{
        margin: auto;
    }
    .container-project{
        width: 92%;
        margin: auto;
        box-sizing: border-box;
    }
    .projects{
        overflow: visible;
    }
}


/* i14PM */
@media screen and (max-width: 431px) {
html{
    background-color: white;
    background-image: linear-gradient(to bottom, #ffffff 0vh, #ffffff 80vh, #fff4db 110vh, #fff4db 200vh, #fff4db 230vh, #ffdcb8 34%, #ffdcb8 93%, #67d4ff50 96%, #67d4ff50 100%);
    font-size: 80%;
}
body{
    margin-left: 0;
    width: 100%;
}
.main{
    padding: 0;
    margin: auto;
    width: 100%;
}
.personaldata{
    width: 90%;
    height: 80vh;
    font-size: 90%;
    margin-top: 15%;
    flex-wrap: wrap;
    text-align: center;
    margin: auto;
}
.datos1{
    text-align: center;
    padding-top: 10%;
    margin: auto;
    width: 100%;
}
.datos1 img{
    margin: auto;
}
.datos2{
    font-size: 1.1vh;
    margin-top: 5%;
    margin-left: 2%;
    width: 90%;
    height: auto;
}.descriptionme{
    height: 40%;
}
.btnlinks1{
    top: 100%;
    margin-top: -1%;
}

.lenguajes h2{
    margin-bottom: 15%;
}
.grid-containertec{
    grid-template-columns: repeat(auto-fill, minmax(250px, 0fr));
    margin: auto;
}
.grid-itemtec {
    margin: auto;
    width: 80%;
    height: auto;
}
.grid-itemtec h2{
    margin-bottom: 0%;
}
.image-with-text img {
    width: 40px;
    height: 40px;
}
.projects{
    margin: auto;
    width: 90%;
    margin-top: 5vh;
    padding-bottom: 4vh;
    overflow: visible;
    height: auto;
}
.grid-containerprj{
    grid-template-columns: 1fr;
    gap: 6vh 0%;
    margin: auto;
    padding: 0%;
    width: 90%;
}
.container-project{
    height: auto;
    margin: 0 auto 4vh auto;
    width: 92%;
    box-sizing: border-box;
}
.photoprj1 img{
    width: 70%;
    height: 1%;
    margin: auto;
    margin-top: 1%;
    border-radius: 0px;
    box-shadow: 1px 15px 30px rgba(0, 0, 0, 0.533);
}

.contactme{
    font-size: 90%;
    margin-top: 8vh;
    margin-bottom: 5%;
}
.modalprj1{
    height: 50%;
}
}


/* R6Pro, iPh12PM */
@media screen and (max-width: 412px) {
html{
background-color: white;
background-image: linear-gradient(to bottom, #ffffff 0vh, #ffffff 80vh, #fff4db 110vh, #fff4db 200vh, #fff4db 230vh, #ffdcb8 34%, #ffdcb8 93%, #67d4ff50 96%, #67d4ff50 100%);
font-size: 80%;
}
body{
margin-left: 0;
width: 100%;
}
.personaldata{
width: 90%;
height: 80vh;
font-size: 100%;
margin-top: 15%;
flex-wrap: wrap;
text-align: center;
margin: auto;

}
.datos1{
text-align: center;
padding-top: 10%;
margin: auto;
width: 100%;
}
.datos1 img{
margin: auto;
}
.datos2{
font-size: 1.1vh;
margin-top: 5%;
margin-left: 2%;
width: 90%;
height: auto;
}
.aboutme h2{
margin-top: 0;
}
.descriptionme{
height: 40%;
}
.btnlinks1 {
    font-size: 2vh;
top: 93%;
}
.btnlinks i{
font-size: 4vh;
}
.lenguajes h2{
padding-top: 0%;
margin-bottom: -15%;
}
.grid-containertec{
grid-template-columns: repeat(auto-fill, minmax(250px, 0fr));
margin: auto;
}
.grid-itemtec {
margin: auto;
width: 80%;
height: auto;
}
.grid-itemtec h2{
margin-bottom: 7%;
}
.image-with-text img {
width: 40px;
height: 40px;
}
.projects{
margin: auto;
width: 90%;
margin-top: 10vh;
padding-bottom: 4vh;
overflow: visible;
height: auto;
}
.projects h2{
margin-top: 6vh;
}
.grid-containerprj{
grid-template-columns: 1fr;
gap: 6vh 0%;
margin: auto;
padding: 0%;
width: 90%;
}
.container-project{
margin: 0 auto 4vh auto;
width: 92%;
box-sizing: border-box;
}
.photoprj1 img{
width: 70%;
height: 1%;
margin: auto;
margin-top: 1%;
border-radius: 0px;
box-shadow: 1px 15px 30px rgba(0, 0, 0, 0.533);
}
.contactme{
    margin-top: 8vh;
    font-size: 90%;
    margin-bottom: 15%;
}
.contactme .contactmett{
    font-size: 300%;
}
.modalprj1{
    height: 50%;
}
}


/* iSE */
@media screen and (max-width: 376px) {
    html{
        background-color: white;
        background-image: linear-gradient(to bottom, #ffffff 0vh, #ffffff 80vh, #fff4db 110vh, #fff4db 200vh, #fff4db 230vh, #ffdcb8 34%, #ffdcb8 93%, #67d4ff50 95%, #67d4ff50 100%);
        font-size: 100%;
    }
    body{
        margin-left: 0;
        width: 100%;
    }
    .personaldata{
        width: 90%;
        height: 80vh;
        margin-top: 15%;
        flex-wrap: wrap;
        text-align: center;
        margin: auto;
    }
    .datos1{
        text-align: center;
        padding-top: 10%;
        margin: auto;
        width: 100%;
    }
    .datos1 img{
        margin: auto;
    }
    .datos2{
        font-size: .5rem;
        margin-top: 5%;
        margin-left: 2%;
        width: 90%;
        height: auto;
    }.descriptionme{
        height: 40%;
    }
    .btnlinks1 {
        margin-top: -5vh;
    }
    .btnlinks i{
        font-size: 250%;
    }

    .lenguajes h2{
        font-size: 200%;
        margin-bottom: -15%;
    }
    .grid-containertec{
        grid-template-columns: repeat(auto-fill, minmax(250px, 0fr));
        margin: auto;
    }
    .grid-itemtec {
        margin: auto;
        width: 80%;
        height: auto;
    }
    .grid-itemtec h2{
        margin-bottom: 2vh;
    }
    .image-with-text img {
        width: 40px;
        height: 40px;
    }
    .projects{
        margin: auto;
        width: 90%;
        margin-top: 5vh;
        font-size: 150%;
        padding-bottom: 4vh;
        overflow: visible;
        height: auto;
    }
    .grid-containerprj{
        grid-template-columns: 1fr;
        gap: 6vh 0%;
        margin: auto;
        padding: 0%;
        width: 90%;
    }
    .container-project{
        margin: 0 auto 4vh auto;
        width: 92%;
        box-sizing: border-box;
    }
    .photoprj1 img{
        width: 70%;
        height: 1%;
        margin: auto;
        margin-top: 1%;
        border-radius: 0px;
        box-shadow: 1px 15px 30px rgba(0, 0, 0, 0.533);
    }

    .contactme{
        margin-top: 8vh;
        margin-bottom: 15%;
        font-size: 70%;
    }
    .contactme .contactmett{
        font-size: 300%;
    }
    .modalprj1{
        height: 50%;
    }
  }

  /* R6Pro */
  @media screen and (max-width: 360px) {
    html{
        background-color: white;
        background-image: linear-gradient(to bottom, #ffffff 0vh, #ffffff 80vh, #fff4db 110vh, #fff4db 200vh, #fff4db 230vh, #ffdcb8 34%, #ffdcb8 93%, #67d4ff50 96%, #67d4ff50 100%);
        font-size: 80%;
    }
    body{
        margin-left: 0;
        width: 100%;
    }
    .personaldata{
        width: 90%;
        height: auto;
        font-size: 90%;
        margin-top: 15%;
        flex-wrap: wrap;
        text-align: center;
        margin: auto;
    }
    .datos1{
        text-align: center;
        padding-top: 10%;
        margin: auto;
        width: 100%;
    }
    .datos1 img{
        margin: auto;
    }
    .datos2{
        font-size: 1.1vh;
        margin-top: 3vh;
        margin-left: 2%;
        width: 90%;
        height: auto;
    }.descriptionme{
        height: 40%;
    }
    .btnlinks1 {
        margin-top: -2vh;
    }
    .btnlinks i{
        font-size: 250%;
    }

    .lenguajes h2{
        margin-bottom: -15%;
    }
    .grid-containertec{
        margin: auto;
    }
    .grid-itemtec {
        margin: auto;
        width: 80%;
        height: auto;
    }
    .grid-itemtec h2{
        margin-bottom: 0%;
    }
    .image-with-text img {
        width: 40px; /* Ajusta el ancho según sea necesario */
        height: 40px; /* Esto permite que la imagen se ajuste proporcionalmente */
    }
    .projects{
        margin: auto;
        width: 90%;
        margin-top: 5vh;
        padding-bottom: 4vh;
        overflow: visible;
        height: auto;
    }
    .grid-containerprj{
        grid-template-columns: 1fr;
        gap: 6vh 0%;
        margin: auto;
        padding: 0%;
        width: 90%;
    }
    .container-project{
        margin: 0 auto 4vh auto;
        width: 92%;
        box-sizing: border-box;
    }
    .photoprj1 img{
        width: 70%;
        height: 1%;
        margin: auto;
        margin-top: 1%;
        border-radius: 0px;
        box-shadow: 1px 15px 30px rgba(0, 0, 0, 0.533);
    }
    .contactme{
        margin-top: 8vh;
        margin-bottom: 15%;
        font-size: 70%;
    }
    .contactme .contactmett{
        font-size: 300%;
    }
    .modalprj1{
        height: 50%;
    }
  }