/* Estilos para tabletas */
@media screen and (max-width: 768px) {
    html{
        background-image: linear-gradient(to bottom, #ff7e5f 5%, #ff7f5f 10%, #31405fe7 20%, #31405f 97%, #7bccff 100%);
    }
    .main{
        margin: 0%;
        margin-left: 2%;
    }
    .personaldata{
        margin-left: -5%;
        width: 110%;
        margin-top: 2%;
    }
    .aboutme{
        font-size: 60%;
    }
    .nombre{
        font-size: 150%;
    }
    .lenguajes h2{
        margin: auto;
        margin-left: 20%;
        font-size: 100%;
        margin-bottom: 10%;
    }
    .lenguajes ul {
        margin-left: -10%;
        display: flex;
        font-size: 30%;
    }
    .lenguajes li{
        margin: 0 7px;
    }

    .lenguajes li img{
        width: 30px;
        height: 30px;
    }
    .lenguajes li img:hover {
        margin-top: -2px;
        width: 35px;
        height: 35px;
    }
    .projects h2{
        margin-left: 10%;
        font-size: 150%;
    }
    .grid-containerprj{
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Establece columnas con un mínimo de 200px y se ajustan automáticamente */
    }
    .container-project{
        margin-top: -5%;
        margin-bottom: -5%;
        font-size: 50%;
    }
    .container-project .nameprj{
        font-size: 200%;
    }
    .container-project .github{
        display:inline;
        color: rgb(0, 0, 0);
        transition: 1000ms;
    }

  }
  
  
  
  
  
  
  
  /* Estilos para teléfonos celulares */
  @media screen and (max-width: 480px) {
    html{
        background-image: linear-gradient(to bottom, #ff7e5f 5%, #ff7f5f 13%, #31405fe7 20%, #31405f 90%, #000000 93%);
    }
    .personaldata{
        margin-top: 10%;
        flex-wrap: wrap;
        text-align: left;
    }
    .datos1{
        text-align: center;
        padding-top: 15%;
        margin-left: -15%;
        width: 100%;
        font-size: 200%;
    }
    .datos2{
        margin-top: 10%;
        margin-left: 5%;
        width: 100%;
        font-size: 200%;
    }
    .lenguajes{
        margin-top: 40%;
        margin-left: -4%;
    }
    .lenguajes h2{
        margin-top: 10%;
        font-size: 200%;
    }
    .lenguajes ul{
        margin-left: 15%;
        width: 60%;
        flex-wrap: wrap;
    }
    .lenguajes li{
        margin: 20px 10px; /* Añade un margen entre los elementos de la lista */
    }
    .lenguajes li img{
        width: 90px;
        height: 90px;
        margin: auto;
    }
    .lenguajes li img:hover{
        width: 100px;
        height: 100px;
        margin: auto;
    }
    .projects{
        margin-bottom: 1%;
        font-size: 200%;
    }
    .projects h2{
        margin-left: 4%;
        font-size: 150%;
    }
    .grid-containerprj{
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Establece columnas con un mínimo de 200px y se ajustan automáticamente */
    }
    .container-project{
        margin-top: -5%;
        margin-bottom: -5%;
        font-size: 50%;
    }
    .container-project .nameprj{
        font-size: 150%;
    }
    .contactme{
        margin-top: 50%;
        font-size: 30%;
    }
    .contactme .correotxt{
        font-size: 170%;
    }

  }