@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* main.css */
@keyframes aparecer {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

html{
    background-image: linear-gradient(to bottom, #ff7e5f 15%, #ff7f5f 14%, #31405f 28%, #31405f 84%, #000000 90%,  #000000 97%);
    font-family: 'Roboto', sans-serif;
    height: auto;
    overflow-x: hidden;
    width: 100%;
    transition: 700ms;
}

body{
    margin-left: 4%;
    overflow-y: hidden;
    width: 100%;
}

.main{
    overflow-y: hidden;
    width: 85%;
    height: 100%;
    color: rgb(255, 0, 0);
    padding: 2%;
    border-radius: 20px;
    margin: auto;
    margin-left: auto;
}
  

/* DATOS PERSONALES */

.personaldata {
    margin-top: 7%;
    display: flex;
    width: 100%;
    color: white;
    height: 70vh;
  }

.datos1{
    height: auto;
    width: 50%;
    transition: 500ms;
}.datos2{
    height: 50%;
    border-left: 1vh solid rgba(0, 0, 0, 0.134);
    padding-left: 2%;
    width: 50%;
    height: auto;
    transition: 500ms;
}

.photomia {
    background-color: transparent;
    border: none;
    margin-bottom: 1%;
    transition: 500ms;
}.photomia img {
    box-shadow: 0 0 30px rgb(0, 0, 0);
    width: 40%;
    height: 40%; /* Permite que la altura se ajuste automáticamente para mantener la proporción */
    margin-left: 35%;
    border-radius: 50%;
    max-width: 100%; /* Asegura que la imagen no supere el 100% del contenedor */
    cursor: pointer;
    transition: 500ms;
}.photomia img:hover{
    box-shadow: 0 0 10px rgb(0, 0, 0);
    transition: 500ms;
}

.datos {
    display: flex; /* Utiliza flexbox para alinear verticalmente los datos */
    flex-direction: column; /* Alinea los elementos en columna */
    width: 100%;
    transition: 500ms;
}

.nombre{
    text-align:right;
    font-weight: 900;
    color: rgb(0, 0, 60);
    font-size: 600%;
    width: 80%;
    margin: auto;
    max-height: 20%;
    transition: 500ms;
}

.aboutme{
    margin-top: -10%;
    font-weight: bold;
    font-size: 250%;
    transition: 500ms;
}.aboutme h2{
    color: rgb(37, 39, 66);
    margin-bottom: 0%;
    font-size: 200%;
    transition: 500ms;

}.descriptionme{
    color: rgb(255, 255, 255);
    font-size: 100%;
    transition: 500ms;
}

button{
    background-color: transparent;
    border: none;
    transition: 500ms;
}

.btnlinks{
    width: 100%;
    height: 6vh;
    color: rgb(0, 0, 60);
}
.btnlinks button{
    padding: 1vh;
}
.btnlinks i{
    align-items: center;
    color: rgb(0, 0, 60);
    font-size: 300%;
}
.btnlinks i:hover{
    cursor: pointer;
    color: rgb(255, 255, 255);
    transition: 500ms;
}







/* SUBTITULOS */
.lenguajes{
    padding-top: 10%;
    padding-bottom: 1%;
    margin-top: 20%;
    text-align: center;
    width: 100%;
    height: auto;
    color: #ffffff;
    transition: 500ms;
}.lenguajes h2{
    margin: auto;
    margin-bottom: 5%;
    width: 70%;
    font-size: 400%;
    font-weight: 600;
    transition: 500ms;
}.projects{
    margin-top: 5%;
    padding-top: 10%;
    text-align: center;
    width: 100%;
    height: auto;
    color: #7ed1f4;
    transition: 500ms;
}.projects h2{
    font-weight: 600;
    font-size: 350%;
    transition: 500ms;
}


/* TECNOLOGIAS */
.grid-containertec {
    display: flex;
    justify-content: center; /* Para centrar horizontalmente */
    align-items: center; /* Para centrar verticalmente */
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 0fr));
    grid-gap: 30px;
    transition: 500ms;
  }
  .grid-itemtec {
    box-shadow: 1px 15px 30px rgba(0, 0, 0, 0.369);
    cursor: pointer;
    margin-top: 5%;
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.343);
    background-color: rgba(55, 55, 55, 0.243);
    padding: 10px;
    text-align: center;
    width: 380px;
    height: 400px;
    transition: 500ms;
  }.grid-itemtec:hover{
    box-shadow: 0 0 30px rgb(0, 0, 0);
    background-color: #ffffff25;
    transition: 500ms;
  }.grid-containertec h2{
    font-size: 250%;
    color: rgba(255, 255, 255, 0.56);
    margin-bottom: 5%;
    transition: 500ms;
  }
  .grid-itemtec .tecnologias{
    margin-right: 2%;
    font-size: 250%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas con igual ancho */
    gap: 10px; /* Espacio entre los elementos */
    transition: 500ms;
  }
  .image-with-text {
    font-size: 50%;
    text-align: center;
    transition: 500ms;
  }
  
  .image-with-text img {
    width: 80px; /* Ajusta el ancho según sea necesario */
    height: 80px; /* Esto permite que la imagen se ajuste proporcionalmente */
    transition: 500ms;
  }
  
  .image-with-text p {
    color: rgba(255, 255, 255, 0.349);
    margin-top: 5px; /* Espacio entre la imagen y el texto */
    transition: 500ms;
  }
  
  



/* PROYECTOS */

.photoprj img{
    width: 95%;
    height: auto;
    margin-top: 5%;
    border-radius: 10px;
    box-shadow: 1px 15px 30px rgba(0, 0, 0, 0.533);
}
.grid-containerprj{
    margin: auto;
    margin-left: 5%;
    margin-right: 5%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(410px, 1fr)); /* Establece columnas con un mínimo de 200px y se ajustan automáticamente */
    gap: 60px 4%; /* Espacio entre los elementos */
    transition: 500ms;
}

.container-project{
    box-shadow: 1px 15px 30px rgba(0, 0, 0, 0.708);
    cursor: pointer;
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.343);
    background-color: rgba(55, 55, 55, 0.243);
    padding: 10px;
    padding: 5%;
    transition: 1000ms;
    color: rgba(255, 255, 255, 0.56);
    font-size: 160%;
    transition: 500ms;
}
.container-project:hover{
    box-shadow: 0 0 30px rgb(0, 0, 0);
    background-color: #ffffff25;
    transition: 500ms;
}

.container-project .nameprj{
    font-size: 27px;
    font-weight: bold;
    transition: 300ms;
}

.container-project .categorie{
    margin-top: 2%;
    color: rgb(255, 178, 111);
    transition: 500ms;
}

.container-project .lenguajesprj{
    padding: 1%;
    width: 100%;
    backdrop-filter: blur(30px);
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 20px;
    transition: 500ms;
}

.container-project:hover .lenguajesprj{
    background-color: rgba(255, 255, 255, 0.601);
    transition: 1500ms;
}

.container-project .lenguajesprj img{
    margin: 1%;
    margin-bottom: -1%;
    width: 10%;
    height: 10%;
    transition: 500ms;
}

.container-project .github{
    width: 100%;
    display: none;
    position: relative;
    color:transparent;
    transition: 500ms;
}

.container-project .github i{
    margin-right: 2%;
    transition: 500ms;
}

.container-project:hover .categorie{
    color: rgb(157, 218, 255);
    transition: 500ms;
}

.container-project:hover .github{
    transition-delay: 500ms;
    width: 100%;
    display:inline;
    color: white;
    transition: 500ms;
}


/* CONTACT ME */
.contactme{
    margin: auto;
    margin-top: 20%;
    color: #ffffff;
}
.contactme h1{
    color: rgb(255, 255, 255);
    margin-bottom: 0%;
}
.contactme .contactmett{
    font-size: 300%;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 50px rgba(255, 255, 255, 0.702);
}
.contactme .correotxt{
    font-size: 200%;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: 500ms;
}

.contactme .correobtn{
    cursor: pointer;
    color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.467);
    border-radius: 7px;
    margin-left: 1%;
    font-size: 150%;
    border: 1px solid rgb(255, 255, 255);
    background-color: #ffffff14;
    transition: 500ms;
}
.contactme .correobtn:hover{
    box-shadow: 0 0 30px rgb(55, 182, 255);
    transition: 500ms;
}

.creador{
    width: 90%;
    margin: auto;
    height: auto;
    margin-top: 5%;
    padding: 1%;
    border-top: 1px solid white;
    color: white;
}