/* modal.css */

/* modal.css */



/* modal.css */
.modalprj1 {
    top: 0%;
    position: absolute;
    margin: auto;
    width: 101%;
    height: 250vh; /* Modificado para cubrir el 80% de la ventana */
    justify-content: center;
    align-items: center;
    z-index: 1100;
    overflow: hidden; /* Eliminado overflow-y y overflow-x */
    backdrop-filter: blur(30px);
    transition: 1000ms;
}

.modalcontent1 {
    max-width: 70%;
    box-shadow: 0 0 20px black;
    overflow-y: auto;
    padding: 4%;
    background-color: #3e3e3e;
    height: 50vh; /* Añadido para que el contenido del modal no exceda el 100% de la altura del modal */
    border-radius: 20px;
    border: 2px solid #888;
    position: relative;
    overflow-y: auto; /* Añadido para permitir el desplazamiento vertical del contenido */
    scrollbar-width: none;
    margin: auto;
    margin-top: 10%;
}
.close-modal {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 20px;
    transition: 500ms;
    background: none;
    border: none;
    padding: 0;
}

.close-modal:hover {
    color: #fff;
}