/* modal.css */

/* modal.css */

/* Estilos para todos los navegadores */
.modalprj1 {
    scrollbar-width: thin; /* Grosor del scrollbar */
}

/* Estilos para navegadores WebKit (como Chrome y Safari) */
.modalprj1::-webkit-scrollbar {
    width: 12px; /* Ancho del scrollbar */
}

/* Estilos para el thumb del scrollbar en todos los navegadores */
.modalprj1::-webkit-scrollbar-thumb {
    background-color: transparent; /* Color transparente del thumb del scrollbar */
}

/* Estilos para el track del scrollbar en todos los navegadores */
.modalprj1::-webkit-scrollbar-track {
    background-color: transparent; /* Color transparente del track del scrollbar */
}

/* Estilos para navegadores que no soportan scrollbar-color */
.modalprj1 {
    scrollbar-color: transparent transparent; /* Color transparente del thumb y track del scrollbar */
}

/* modal.css */
.modalprj1 {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: auto; /* Modificado para cubrir el 80% de la ventana */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1100;
    overflow: hidden; /* Eliminado overflow-y y overflow-x */
}

.modalcontent1 {
    margin: auto;
    padding: 5%;
    background-color: #3e3e3e;
    max-width: 100%;
    max-height: 100%; /* Añadido para que el contenido del modal no exceda el 100% de la altura del modal */
    border-radius: 20px;
    border: 1px solid #888;
    position: relative;
    overflow-y: auto; /* Añadido para permitir el desplazamiento vertical del contenido */
}

.close-modal {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 20px;
    transition: 500ms;
    background: none;
    border: none;
    padding: 0;
}

.close-modal:hover {
    color: #fff;
}
