/* modal.css */

/* modal.css */



/* modal.css */
.modalprj1 {
    position: absolute;
    right: 0;
    top: -700px;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 50%; /* Modificado para cubrir el 80% de la ventana */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1100;
    overflow: hidden; /* Eliminado overflow-y y overflow-x */
}

.modalcontent1 {
    overflow-y: auto;
    margin: auto;
    padding: 5%;
    background-color: #3e3e3e;
    max-width: 100%;
    height: 100vh; /* Añadido para que el contenido del modal no exceda el 100% de la altura del modal */
    border-radius: 20px;
    border: 1px solid #888;
    position: relative;
    overflow-y: auto; /* Añadido para permitir el desplazamiento vertical del contenido */
}

.close-modal {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 20px;
    transition: 500ms;
    background: none;
    border: none;
    padding: 0;
}

.close-modal:hover {
    color: #fff;
}