@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(255, 255, 255) !important;
    font-family: 'Roboto', sans-serif;
    height: auto;
    overflow-x: hidden;
    width: 100%;
    transition: 700ms;
    font-size: 2vh;
}

body{
    overflow-y: auto;
    width: 100%;
    font-family: 'Roboto', sans-serif;

}

.main{
    overflow-y: visible;
    width: 100%;
    height: auto;
    color: rgb(255, 255, 255) !important;
    padding: 2%;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;

}

.main h2{
    font-size: 400%;
}

.creador{
   color: #424242;
}


/* PROYECTOS */

.projects{
    margin-top: 10% !important;
    text-align: center;
    width: 100%;
    height: auto;
    color: #7ed1f4 !important;
    transition: 500ms;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 5%;
}
.projects h2{
    font-weight: 600;
    font-size: 350%;
    transition: 500ms;
    font-family: 'Roboto', sans-serif;
}
.photoprj img{
    width: 95%;
    height: auto;
    margin-top: 5%;
    border-radius: 10px;
    box-shadow: 1px 15px 30px rgba(0, 0, 0, 0.533);
}
.grid-containerprj{
    margin: auto;
    margin-left: 5%;
    margin-right: 5%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(410px, 1fr));
    gap: 60px 4%;
    transition: 500ms;
}

.container-project{
     box-shadow: 10px 15px 10px rgba(0, 0, 0, 0.342);
    cursor: pointer;
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.343);
    padding: 10px;
    padding: 5%;
    transition: 1000ms;
    color: #424242;
    font-size: 160%;
    border: .3vh solid #424242;
    background-color: rgba(182, 182, 182, 0.099);
    transition: 500ms;
    margin-bottom: 2%;
}

.container-project:last-child{
    margin-bottom: 5%;
}

.container-project:hover{
    box-shadow: 0px 0px 30px rgb(0, 0, 0);
    background-color: #ffffff84;
    transition: 500ms;
}

.container-project .nameprj{
    font-size: 27px;
    font-weight: bold;
    transition: 300ms;
    font-family: 'Roboto', sans-serif;
}

.container-project .categorie{
    
    margin-top: 2%;
    color: rgb(255, 178, 111);
    transition: 500ms;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.container-project .lenguajesprj{
    padding: 1%;
    width: 100%;
    backdrop-filter: blur(30px);
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 20px;
    transition: 500ms;
    background-color: rgb(214, 214, 214);
}

.container-project:hover .lenguajesprj{
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.601);
    transition: 1500ms;
}

.container-project .lenguajesprj img{
    margin: 1%;
    margin-bottom: -1%;
    width: 10%;
    height: 10%;
    transition: 500ms;
}

.container-project .github{
    width: 100%;
    display: none;
    position: relative;
    color:black;
    transition: 500ms;
}

.container-project .github i{
    margin-right: 2%;
    color:black;
    transition: 500ms;
}

.container-project:hover .categorie{
    color: rgb(157, 218, 255);
    transition: 500ms;
    font-weight: bold;
}

.container-project:hover .github{
    transition-delay: 500ms;
    width: 100%;
    display:inline;
    color: black;
    transition: 500ms;
}



/* RESPONSIVE */

@media screen and (max-width: 820px) {
    body{
        overflow-y: auto;
    }
    
    .main{
        height: auto;
        overflow-y: visible;
    }
    
    .projects{
        margin: auto;
        margin-top: 10% !important;
        font-size: 200%;
        margin-bottom: 10 !important;
    }
    .projects h2{
        margin: auto;
        height: auto;
        font-size: 150%;
        margin-top: 35%;
        margin-bottom: 10%;
    }
    .grid-containerprj{
        grid-template-columns: repeat(auto-fill, minmax(410px, 1fr));
    }
    .container-project{
        width:100%;
        font-size: 2.5vh;
        margin-bottom: 3%;
    }
    .container-project:last-child{
        margin-bottom: 8%;
    }
    .container-project .nameprj{
        font-size: 200%;
        font-family: 'Roboto', sans-serif;
    }
    .modalprj1{
        height: 50%;
        font-size: 40%;
    }
    .modalcontent{
        font-size: 40%;
    }
}

@media screen and (max-width: 431px) {
    body{
        overflow-y: auto;
    }
    
    .main{
        height: 100vh;
    }
    
    .projects{
        width: 90%;
        margin-bottom: 10vh;
    }
    .grid-containerprj{
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        margin: auto;
    }
    .container-project{
        margin: auto;
        width: 90%;
        margin-bottom: 5%;
    }
    .container-project:last-child{
        margin-bottom: 10%;
    }
    .photoprj1 img{
        width: 70%;
        height: 1%;
        margin: auto;
        margin-top: 1%;
        border-radius: 0px;
        box-shadow: 1px 15px 30px rgba(0, 0, 0, 0.533);
    }
    .modalprj1{
        height: 50%;
    }
}


@media screen and (max-width: 768px) {
    .modalprj1{
        height: 50%;
    }
}

@media screen and (max-width: 360px) {
    .container-project{
        margin: auto;
        width: 85%;
    }
}